@model List<Iwant2EAT.Models.Store>
@Layout@{
    ViewBag.Title = "Home | EEEaTTT";
    ViewBag.HomeActive = "active";
    Layout = "/Views/Shared/__Layout.cshtml";
}

<div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" style="height: 300px; width: 100%; display: block;" src="~/Content/Image/KaoBai.png" data-holder-rendered="true">
            <div class="caption">
                <h3>靠北工程師</h3>
                <p>電話：</p>
                <p>地址：</p>
                <p>營業時間：</p>
                <p>店家介紹：</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" style="height: 300px; width: 100%; display: block;" src="~/Content/Image/KaoBai2.png" data-holder-rendered="true">
            <div class="caption">
                <h3>靠北工程師</h3>
                <p>電話：</p>
                <p>地址：</p>
                <p>營業時間：</p>
                <p>店家介紹：</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" style="height: 300px; width: 100%; display: block;" src="~/Content/Image/HierarchyOfDisagreement.png" data-holder-rendered="true">
            <div class="caption">
                <h3>嘴砲金字塔</h3>
                <p>電話：</p>
                <p>地址：</p>
                <p>營業時間：</p>
                <p>店家介紹：</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img data-src="holder.js/100%x200" alt="100%x200" style="height: 300px; width: 100%; display: block;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkzIiB5PSIxMDAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTFwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4yNDJ4MjAwPC90ZXh0PjwvZz48L3N2Zz4=" data-holder-rendered="true">
            <div class="caption">
                <h3>Title</h3>
                <p>Phone：0912-345-678</p>
                <p>Address: xxx, xxx 123 582 line</p>
                <p>Time: 0900-2100</p>
                <p>Introduction: It just for a example.</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>